<section class="portfolio-flex">
    <section class="portfolio-project">
        <figure>
            <img src="img/Electric-vehicles.jpg" alt="Project Electric vehicles">
            <figcaption>Electric vehicles</figcaption>
        </figure>
    </section>

    <section class="portfolio-project">
        <figure>
            <img src="img/greenhouse.jpg" alt="Project Greenhouse">
            <figcaption>Greenhouse</figcaption>
        </figure>
    </section>

    <section class="portfolio-project">
        <figure>
            <img src="img/green-house.jpg" alt="Project Greener cities">
            <figcaption>Greener cities</figcaption>
        </figure>
    </section>

    <section class="portfolio-project">
        <figure>
            <img src="img/city-2100.jpg" alt="Poject City 2100">
            <figcaption>City 2100</figcaption>
        </figure>
    </section>

    <section class="portfolio-project">
        <figure>
            <img src="img/solar-energy.jpg" alt="Solar Energy Project">
            <figcaption>Solar Energy</figcaption>
        </figure>
    </section>

    <section class="portfolio-project">
        <figure>
            <img src="img/wind-power.jpg" alt="Wind Powe Project">
            <figcaption>Wind Power</figcaption>
        </figure>
    </section>
</section>

