<section class="articleContent">
    <h2>The City of the Future: This Is How Cities Are Becoming Smart - by Ana Camarena, PLUG and PLAY</h2>
    <section class="article-flex">
        <figure>
            <img src="img/city-of-the-future.jpg" alt="Article 1 image">
            <figcaption>City of the future</figcaption>
        </figure>
        <p>
            
            Cities are growing, evolving. And innovation plays a huge role in this transformation.
            
            Almost 10,000 years ago, hunter-gatherers learned the secrets of selective breeding and agriculture, and managed to grow their own food. For the first time in history, humans found a way to survive without moving to a different territory to find new sources of food. And that’s how everything started. 
            It wasn’t until the Industrial Revolution that modern cities as we know them appeared. New technologies deployed on a mass scale allowed these vast communities to grow faster than ever before. 
            In order to improve these big communities and prevent them from collapsing, innovation is and has always been key. Cities need sanitation systems, properly-built homes, secure transportation. And the list goes on forever. Even if we have evolved a lot since hunter-gatherers changed the course of history, there’s still much left to be done. 

            What’s the future of cities, then? 

            The future of cities will come hand in hand with innovation. Cities won’t be cities anymore. They’ll be Smart Cities. 
            The City of the Future: The Challenges
            How will the city of the future look like?

            There is not just one good answer. 

            Cities are made by the people that inhabit them, and people are profoundly affected by culture and by the city itself. Thus, two cities facing the same problem might need two different solutions.

            And that’s probably the main challenge encountered when trying to develop a Smart City. A Smart City is not just a city that uses cool technology. It’s a city that carefully studies the habits and the needs of its citizens and tries to fix them in the most suitable way. 

            That’s the difficulty and the beauty of it, right?    
            
            In the City of the Future, Mobility Will Change Radically
        </p>
    </section>
</section>


<section class="articleContent">
    <h2>How 21st-Century Planning is Different - by Ana Camarena, PLUG and PLAY</h2>
     <section class="article-flex">
        <figure>
            <img src="img/Electric-vehicles.jpg" alt="Article 2 image">
            <figcaption>Electric vehicles</figcaption>
        </figure>
        <p>            
            Governments and citizens have always tried to foresee potential problems and fix those already happening. However, the approach to solving these problems is radically different now to what it was before. 

            For example: Some decades ago, the solution to busy highways was to add a new lane.

            Simple, right?

            Well, maybe not so much. 

            What seemed like a good way to reduce congestion brought, in fact, poor results. Adding a new lane didn’t reduce traffic. Instead, it attracted new drivers that didn’t use that route in the past. Instead of fewer cars on highways, cities ended up with equally congested roads (only, this time, they had an extra lane full of vehicles.)

            The city of the future will face problems differently. Instead of just adding a new lane, those trying to create a smart city should look at the problem from different points of view. Do we really need that many cars? Should we be owning cars or should we share them? Would it be preferable to have self-driving cars? What percentage of traffic is caused by people looking for a parking spot? Perhaps we should make parking smarter? The possibilities are endless, and the answers vary depending on the city. 

            So, back to mobility. 

            Some of the main elements that will shape mobility in the city of the future are:

            Shared Mobility: Ride-hailing services have been growing steadily for years. And every indication suggests that they will keep doing so. The city of the future is, without a doubt, a city where people will share transportation methods such as cars, motorbikes or scooters. Why own your own car when there’s such a thing as Mobility As A Service? (MaaS)
            Electric vehicles: Electric vehicles are becoming more popular every year, but cities have a long way to go until they’re fully prepared to “host” these types of vehicles. The number of available chargers is still low, and grid capacity needs to be improved (nowadays, it is not fully prepared to charge vehicles such as electric buses.) These are some of the problems that get in the way of mass adoption of electric cars, and cities will need to face them in the near future.
            Traffic Management: Traffic is one of the main problems for urban areas worldwide. Fortunately, new solutions are coming up everyday to try to fix this problem (or, at least, mitigate its consequences). Startups and big corporations all around are developing systems to try to address this issue. Pittsburgh, for example, deployed a system that uses video and radar to analyze traffic in 50 intersections and adjusts signals in real-time. This AI-based system has reduced travel times by 26%, and vehicle emissions by 21%.
        </p>
    </section>
</section>

<section class="articleContent">
    <h2>From urban forests to high-tech utopias, here's how the cities of the future are shaping up - by Stephanie Bailey, CNN</h2>
    <section class="article-flex">
        <figure>
            <img src="img/greenhouse.jpg" alt="Article 3 image">
            <figcaption>Greenhouse</figcaption>
        </figure>
        <p>
        Today's cities are grappling with problems ranging from gridlocked traffic and overflowing landfills, to unaffordable housing and growing inequality. Without action, those problems will only get worse.
        The United Nations predicts that by 2050, the world's population will reach 9.7 billion. Nearly 70% of people are projected to live in urban areas, placing a greater strain on cities and the environment.
        As urbanization is expected to be fastest in lower-income countries, the UN warns many cities will face challenges to meet the needs of their growing number of residents, including providing adequate housing, transportation, and energy systems.
        At the same time, cities are a key contributor to climate change, responsible for an estimated three quarters of global CO2 emissions.
        To address this, architects and designers have come up with innovative solutions -- from vertical farms and biome greenhouses, to self-driving cars and underground recycling systems -- to make future cities smarter and more sustainable.
        While some of the cities of tomorrow are still designs, others have already been built -- but not always without complications.
        </p>
    </section>
</section>

